*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(139, 0, 74);
    text-align: inherit;
    background-color: rgb(255, 229, 241);
    background-image: url(img/flor\ png.png);
}

#cabecalho{
    height:150px;
    background-color:rgb(255, 195, 225);
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

#titulo{
    color:rgb(139, 0, 74);
    position: relative;
    top: 30px;
}


#lado1{
    height: 500px;
    width: 330px;
    background-color:rgb(222, 143, 193);
    float: left;
    margin-left: 37px;
    margin-top: 10px;
}


#conteudo{
    height: 500px;
    width: 800px;
    background-color: rgb(255, 229, 241);
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

#lado2{
    height: 500px;
    width: 304px;
    background-color: rgb(222, 143, 193);
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-block-end: 5px;
}

#imagem{
    position: relative;
    transition: transform 1s;
    transform: scale(1);
}

#imagem:hover{
    transform: scale(0.8);
}


#sobre{
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    top: 40px;
    text-align: center;
}

#tradicao{
    color: rgb(139, 0, 74);
    position: relative;
    text-align: center;
    font-size: 20px;
    top: 40px;
}



#tradicaoSobre{
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    font-size: 25px;
    top: 60px;
}

#festival{
    color: rgb(139, 0, 74);
    position: relative;
    text-align: center;
    font-size: 20px;
    top: 80px;
}

#festivalSobre{
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    font-size: 25px;
    top: 90px;
}


#imagem1{
    position: relative;
    left: 350px;
    top: 120px;
}


#casa{
    color: rgb(139, 0, 74);
    position: relative;
    text-align: center;
    font-size: 20px;
    top: 160px;
}

#casaSobre{
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    font-size: 25px;
    top: 170px;
}

#imagem3{
    position: relative;
    left: 350px;
    top: 190px;
}


#japao{
    color: rgb(139, 0, 74);
    position: relative;
    text-align: center;
    font-size: 20px;
    top: 200px;
}

#japaoSobre{
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    font-size: 25px;
    top: 210px;
}

#patrimonio{
    position: relative;
    text-align: center;
    font-size: 20px;
    top: 230px;
}

#patrimonioSobre{
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    text-align:center;
    font-size: 25px;
    top: 240px;
}

#roupa{
    position: relative;
    text-align: center;
    font-size: 20px;
    top: 260px;
}

#roupaSobre{
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    text-align:center;
    font-size: 25px;
    top: 270px;
}

#imagem4{
    position: relative;
    left: 350px;
    top: 300px;
}


#rodape{
    height: 100px;
    background-color: rgb(255, 195, 225);
    clear: both;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 310px;
}

#botao{
    box-shadow: 0 8px 16px 0 rgba(57, 2, 23, 0.2), 0 6px 20px 0 rgba(49, 4, 18, 0.19);
    position: relative;
    background-color: rgb(255, 159, 175);
    border: 5pc;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#botao:hover{
    box-shadow: 0 12px 16px 0 rgba(57,2,23,0.24), 0 17px 50px 0 rgba(49,4,18,0.19);
}

#sakura{
    position: relative;
    bottom:390px;
    left:1020px;
}

#sakura2{
    position: relative;
    bottom:700px;
}